<nav class="navbar navbar-expand-sm navbar-dark">
  <div [routerLink]="['/user']" routerLinkActive="active" class="navbar-brand cursor-pointer"><strong>Portal</strong></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div [routerLink]="['/user','form']" routerLinkActive="active" class="nav-link cursor-pointer">Formulario</div>
      </li>
      <li class="nav-item">
        <div [routerLink]="['/user','conversions']" routerLinkActive="active" class="nav-link cursor-pointer">Conversiones</div>
      </li>
      <li class="nav-item">
        <div [routerLink]="['/user','calculatedate']" routerLinkActive="active" class="nav-link cursor-pointer">Calcular fecha</div>
      </li>
      <li class="nav-item">
        <div (click)="logout()" class="nav-link cursor-pointer">Salir</div>
      </li>
    </ul>
  </div>
</nav>
